.nuevoProceso{
    margin-top: 2rem;
    text-align: center;
    input{
        background-color: $rojo;
        border-radius: 0.5rem;
        padding: 1rem;
        width: 20%;
        color: $blanco;
    }
    input:hover{
        cursor: pointer;
        background-color: $rojoOscuro;
    }
}