#todas{/*Es utilizado para las listas generadas por materia en las clases listaExamen y ListaCursoIntro */
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 5rem;
    label{/*Esta en ambas clases*/
        width: 20%;
        text-align: center;
    }
    select{/*Esta en ambas clases*/
        margin-left: -10rem;
        width: 20%;
        border: .1rem solid $azulMarino;
        border-radius: 0.8rem;
        height: 3rem;
        cursor: pointer;
        text-align: center;
    }
    input{/*Pertenece al input del boton en la clase ListaExamen*/
        width: 10%;
        background-color: $azulVariante;
        color: $blanco;
        border-radius: 0.8rem;
        cursor: pointer;
    }
    .btnGenerar{/*pertenece al input del boton en la clase ListaCursoIntro*/
        width: 10%;
        background-color: $verdeVariante;
        color: $blanco;
        border-radius: 0.8rem;
        cursor: pointer;
    }
}

#especifica{/*Pertenece a la clase ListaPromMen*/
    display: none;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    .carrera, .materia, .grupo{/*Muestra en pantalla los elementos ocultos contenidos en las clases*/
        label{
            width: 30rem;
            text-align: center;
        }
        select{
            width: 30rem;
            border: .1rem solid $azulMarino;
            border-radius: 0.8rem;
            height: 3rem;
            cursor: pointer;
            text-align: center;
        }
    }
    input{
        width: 10%;
        margin-top: 3rem;
        background-color: $azulVariante;
        color: $blanco;
        border-radius: 0.8rem;
        cursor: pointer;
    }
}
