.lista{/*Se incluye ttambién el diseño del menú principal de la página*/
    margin-top: 2rem;
}
.buttLista{/*menainte un mixin se asigna el número de elementos en columas y el tamaña, haciendo referencia al arcgivo GenerarListas.php*/
    @include menu(4, 25rem);
}

.g_listas{/*Contenedor general de la clase main, presente en todás las páginas principales de Generar listas*/
    display: block;
    text-align: center;
    margin-top: 3rem;
    
}

.btnsLista{/*Referencia al div que contiene los botones en las páginas */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
    .btnAllV{/*Botón en color averde para -Generar todas las listas-*/
        width: 15%;
        background-color: $verde;
        color: $blanco;
        border-radius: 0.8rem;
        cursor: pointer;
    }
    .btnChoseA{/*Botón para en color azul para -Especificar Lista-*/
        width: 10%;
        background-color: $azulMarino;
        color: $blanco;
        border-radius: 0.8rem;
        cursor: pointer;
    }
    .btnChoseV{/*Botón en color verde para -Generar todas las listas por materia-*/
        width: 20%;
        background-color: $verde;
        color: $blanco;
        border-radius: 0.8rem;
        cursor: pointer;
    }
}


