.CancelarSolicitudPendiente{
    
    margin-top: 4rem;

    .tiposSol{
        display: flex;
        margin-bottom: 3rem;
        justify-content: center;
        
        align-content: center;
        width: 100%;
        .folioS{   
            input{
            display: inline;
                width: 25%;
            }

            label{
                width: 25%;
            }
        }
        .btnBus{
            display: inline;
            margin-left: 2rem;
            margin-top: 5rem;
            width: 25%;
            input{
                width: 100%;
                background-color: $verdeVariante;
                color: $blanco;
                border-radius: 0.8rem;
                cursor: pointer;
                text-align: center;
            }
        }
        
    }
    .opciones{
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
        label{
            
            
            width: 60%;
        }
    }
    .descripcion, .observacion{
        align-content: center;
        justify-content: center;
        text-align: center;
        
        label{
            margin-left: 10%;
            display: flex;
            width: 60%;
        }
        textarea{
            width: 80%;
            height: 12rem;
            background-color: $blanco;
            color: black;
            border: .2rem solid black;
            border-radius: 0.8rem;
        }
    }
    
    
    .btnBus{
        position: relative;
        input{
            position: absolute;
            right: 8rem;
            top: -5rem;
            width: 15%;
            background-color: $verdeVariante;
            color: $blanco;
            border-radius: 0.8rem;
            cursor: pointer;
            text-align: center;
        }
    }

    .email, .nombreUser,.folio,.fecha, .departamento{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    input:not(input[type="submit"]){
        width: 35%;
    }
    label{
        width: 15%;
        display: inline;
    }
    .fallas{
        margin-top: 2rem;
        text-align: left;
        position: relative;
        align-content: center;
        justify-content: center;
        input{
            margin-top: 1.2rem;
            margin-left: -15%;
        }
        label{
            position: absolute;
            margin-left: -13%;
            width: 100%;
            margin-bottom: -8%;
           
        }
        margin-bottom: 2rem;
    }
    .fallas2{
        margin-top: 2rem;
        text-align: left;
        position: relative;
        align-content: center;
        justify-content: center;
        input{
            margin-top: 1.2rem;
            margin-left: 7%;
        }
        label{
            position: absolute;
            margin-left: -13%;
            width: 100%;
            margin-bottom: -8%;
           
        }
        margin-bottom: 2rem;
    }
    .btnCS{
        position: relative;
        float: right;
        margin-top: 1rem;
        right: 10%;
        input{
            width: 100%;
            background-color: $verde;
            color: $blanco;
        }
    }

    
}



