.CrearNuevaSolicitud{
    
    margin-top: 4rem;

    .tipoSol{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-bottom: 4rem;
        width: 100%;
        margin-left: -2%;
        .area{
            display: inline;
            width: 40%;
            label{
                width: 10%;
                display: inline;
            }
            select{
                display: inline;
                width: 70%;
                border: .1rem solid $azulMarino;
                border-radius: 0.8rem;
                height: 4rem;
                text-align: left;
            }
        }
        .emailS{
            display: inline;
            width: 25%;
            margin-left: -5%;
            label{
                width: 10%;
                display: inline;
            }
            input{
                display: inline;
                width: 50%;
            }
    
        }
        .emailD{
            display: inline;
            margin-left: -4%;
            width: 20%;
            input{
                width: 100%;
            }
        }
        .btnBus{ 
            float: left;
            margin-left: 2rem;
            input{
                width: 100%;
                background-color: $verdeVariante;
                color: $blanco;
                border-radius: 0.8rem;
                cursor: pointer;
                text-align: center;
            }
        }

    }
    
    .opciones{
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
        label{
            
            
            width: 60%;
        }
    }
    .descripcion{
        align-content: center;
        justify-content: center;
        text-align: center;
        
        label{
            margin-left: 28%;
            display: flex;
            width: 60%;
        }
        textarea{
            width: 80%;
            height: 12rem;
            background-color: $blanco;
            color: black;
            border: .2rem solid black;
            border-radius: 0.8rem;
        }
    }
    
    .email, .nombreUser,.folio,.fecha,.departamento{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    input:not(input[type="submit"]){
        width: 45%;
    }
    label{
        width: 20%;
        display: inline;
    }

    .fallas{
        margin-top: 2rem;
        text-align: left;
        position: relative;
        align-content: center;
        justify-content: center;
        input{
            margin-top: 1.2rem;
            margin-left: -15%;
        }
        label{
            position: absolute;
            margin-left: -13%;
            width: 100%;
            margin-bottom: -8%;
           
        }
        margin-bottom: 2rem;
    }
    .fallas2{
        margin-top: 2rem;
        text-align: left;
        position: relative;
        align-content: center;
        justify-content: center;
        input{
            margin-top: 1.2rem;
            margin-left: 7%;
        }
        label{
            position: absolute;
            margin-left: -13%;
            width: 100%;
            margin-bottom: -8%;
           
        }
        margin-bottom: 2rem;
    }
    .btnCS{
        position: relative;
        float: right;
        margin-top: 1rem;
        right: 23%;
        input{
            width: 100%;
            background-color: $verde;
            color: $blanco;
        }
    }

    
}



