.DatosDeSolicitudFormato{
    details {
        user-select: none;
        align-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;

    }
    summary{

        margin-bottom: 1rem;
        padding: 1rem;
        cursor: pointer;
        outline: none;
        background: #306dc0;
        border-radius: 1rem 1rem 1rem 1rem;
        font-size: 2rem;
        width: 30rem;
        height: 2.7rem;
    }
    summary:hover{
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,0.938813025210084) 0%, rgba(48,121,192,1) 91%, rgba(48,109,192,1) 100%);    }
    details[open] summary~*{
        animation: salto .8s ease-in-out;
    }
    @keyframes salto {
        0%{
            opacity: 0;
            margin-left: -10px;
        }
        100%{
            opacity: 1;
            margin-left: 0;
        }
    }

    margin-top: 4rem;

    .opcionesSel{
        label{
            width: 25%;
            display: inline;
        }
        margin-left: 9%;
        .prioridad, .tipo, .lugar{
            display: flex;
            justify-content: left;
            gap: 2rem;
            margin-top: 2rem;
            
        }
    }
    .opciones{
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
        label{
            
            
            width: 60%;
        }
    }

    .descripcion, .observacion,.encargadoS, .trabajo, .materiales{
        align-content: center;
        justify-content: center;
        text-align: center;
        
        label{
            margin-left: 10%;
            display: flex;
            width: 60%;
        }
        textarea{
            width: 80%;
            height: 12rem;
            background-color: $blanco;
            color: black;
            border: .2rem solid black;
            border-radius: 0.8rem;
        }
    }
    

    .email, .nombreUser,.folio,.fecha, .departamento, .fechaFin{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    input:not(input[type="submit"]){
        width: 35%;
    }
    label{
        width: 15%;
        display: inline;
    }
    .fallas{
        margin-top: 2rem;
        text-align: left;
        position: relative;
        align-content: center;
        justify-content: center;
        input{
            margin-top: 1.2rem;
            margin-left: -5%;
        }
        label{
            position: absolute;
            margin-left: -10%;
            width: 95%;
            margin-bottom: -8%;
           
        }
        margin-bottom: 2rem;
    }
    .fallas2{
        margin-top: 2rem;
        text-align: left;
        position: relative;
        align-content: center;
        justify-content: center;
        input{
            margin-top: 1.2rem;
            margin-left: -5%;
        }
        label{
            position: absolute;
            margin-left: -10%;
            width: 95%;
            margin-bottom: -8%;
           
        }
        margin-bottom: 2rem;
    }
    .btnCS{
        position: relative;
        float: right;
        margin-top: 1rem;
        right: 10%;
        input{
            width: 100%;
            background-color: $azulMarino;
            color: $blanco;
        }
    }

    
}



