.ModificarSolicitud{
    
    margin-top: 4rem;

    .tipoSol{
        display: inline;
        gap: 2rem;
        text-align: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;

        .folioS{     
                input{
                    width: 25%;
                }

                label{
                    width: 25%;
                }
                .btnBus{
                    top: .7rem;
                    input{
                        
                        width: 15%;
                        background-color: $verdeVariante;
                        color: $blanco;
                        border-radius: 0.8rem;
                        cursor: pointer;
        
                    }
                }
            }

        

    }
    
    .descripcion, .observacion{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        text-align: center;

        textarea{
            width: 61rem;
            height: 12rem;
            background-color: $blanco;
            color: black;
            border: .2rem solid black;
            border-radius: 0.8rem;
        }
    }
    
    
    .btnBus{
        position: relative;
        input{
            position: absolute;
            right: 8rem;
            top: -5rem;
            width: 15%;
            background-color: $verdeVariante;
            color: $blanco;
            border-radius: 0.8rem;
            cursor: pointer;
            text-align: center;
        }
    }

    .email, .nombreUser,.folio,.fecha{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    input:not(input[type="submit"]){
        width: 35%;
    }
    label{
        width: 15%;
        display: inline;
    }

    .falla{
        margin-top: 4rem;
        
        margin-bottom: 4rem;
    }
    .btnCS{
        margin-top: 2rem;
        display: flex;
        justify-content: right;
        margin-right: 27.5rem;
        input{
            width: 20%;
            background-color: $verde;
            color: $blanco;
        }
    }

    
}



