.Reportes{
    margin-top: 4rem;
    .grafico{
        display: inline;
        #piechart1{
            justify-content: center;
            align-content: center;
           
        }
        #piechart2{
            justify-content: center;
            align-content: center;
        }
    }
    
}
    


