.ReportesDeSolicitudes{
    margin-top: 4rem;
    .grafico{
        width: 100%;
		margin: 0;
		padding: 0;
        
        #piechart1{
            float: right;
            justify-content: center;
            align-content: center;
            width: 90rem; 
            height: 50rem;
            
        }
        #piechart2{
            float: right;
            justify-content: center;
            align-content: center;
            width: 90rem; 
            height: 50rem;
            
            
        }
    }
    
}
    


