.TableroDeSolicitudes{
    
	margin-top: 4rem;
	//Rojo pendiente, Amarillo Proceso, Verde finalizadao




	//necesito determinar el color para cada columna dependiendo del estado
	.contenedor{
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: #F8F8FC;
	
		
		.interna1{
			width: 30%;
			float: left;
			h4{
				text-align: center;
			}
			.top {
				margin-top: 2rem;
			}
			h1 {
				margin: 0;
			}
			.drop__card, .drop__data {
				display: flex;
				align-items: center;
			}
			.drop__card1 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px  #ec0808, -2px -2px 16px rgb(250, 6, 6);
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			.drop__card2 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px #ac471fa1, -2px -2px 16px rgba(177, 43, 43, 0.842);
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			.drop__card3 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px #7e3b261c, -2px -2px 16px #e420209d;
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			.drop__name {
				font-size: 1rem;
				color: #272A3A;
				font-weight: 500;
				text-align: left;
			}
			.drop__date {
				font-size: 1rem;
				color: #272A3A;
				font-weight: 500;
				text-align: right;
			}
			.drop__description {
				font-size: 1.2rem;
				color: #8A8EAA;
			}
			.sortable-chosen {
				box-shadow: 8px 8px 32px #E1E1E1;
			}
			.sortable-drag {
				opacity: 0;
			}
		}

		.interna2{
			
			width: 30%;
			float: left;
			margin-left: 3rem;
			h4{
				text-align: center;
			}
			.top {
				margin-top: 2rem;
			}
			h1 {
				margin: 0;
			}
			.drop__card, .drop__data {
				display: flex;
				align-items: center;
			}
			.drop__card1 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px  #c4cf28, -2px -2px 16px rgb(211, 192, 23);
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			.drop__card2 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px #fcf04dab, -2px -2px 16px rgba(168, 177, 43, 0.733);
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			.drop__card3 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px #7e6e261c, -2px -2px 16px #d1b7259d;
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			.drop__name {
				font-size: 1rem;
				color: #272A3A;
				font-weight: 500;
				text-align: left;
			}
			.drop__date {
				font-size: 1rem;
				color: #272A3A;
				font-weight: 500;
				text-align: right;
			}
			.drop__description {
				font-size: 1.2rem;
				color: #8A8EAA;
			}
			.sortable-chosen {
				box-shadow: 8px 8px 32px #E1E1E1;
			}
			.sortable-drag {
				opacity: 0;
			}
		}

		.interna3{
			height: 0%;
			width: 30%;
			float: left;
			margin-left: 3rem;
			h4{
				text-align: center;
			}
			.top {
				margin-top: 2rem;
			}
			h1 {
				margin: 0;
			}
			.drop__card, .drop__data {
				display: flex;
				align-items: center;
			}
			
			.drop__card1 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px  #0ac76f, -2px -2px 16px rgb(23, 211, 48);
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			.drop__card2 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px #5bc21749, -2px -2px 16px rgba(43, 177, 54, 0.596);
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			.drop__card3 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px #267e2a1c, -2px -2px 16px #25d12559;
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			.drop__card4 {
				justify-content: space-between;
				padding: .75rem 1.25rem .75rem .75rem;
				background-color: #F8F8FC;
				box-shadow: 4px 4px 16px #E1E1E1, -2px -2px 16px #FFF;
				margin-bottom: 20px;
				border-radius: 2rem;
				&:hover {
					cursor: pointer;
				}
			}
			
			.drop__name {
				font-size: 1rem;
				color: #272A3A;
				font-weight: 500;
				text-align: left;
			}
			.drop__date {
				font-size: 1rem;
				color: #272A3A;
				font-weight: 500;
				text-align: right;
			}
			.drop__description {
				font-size: 1.2rem;
				color: #8A8EAA;
			}
			.sortable-chosen {
				box-shadow: 8px 8px 32px #E1E1E1;
			}
			.sortable-drag {
				opacity: 0;
			}
		}
	}
}

		






