.CancelarUsuario{
    
    margin-top: 2rem;
    .emailS{
        position: relative;
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 50%;
        left: 18.8rem;
        label{
            width: 30%;
            display: inline;
        }

    }
    .emailD{
        position: relative;
        width: 45%;
        left: 55.6rem;
        top: -5rem;
        input{
            position: absolute;
            right: 19rem;
            display: flex;
            width: 35%;
        }
    }
    .email, .nombreUser, .departamento, .rolUsuario{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .btnBCU{
        position: relative;
        input{
            position: absolute;
            right: 8rem;
            width: 15%;
            background-color: $verdeVariante;
            color: $blanco;
            border-radius: 0.8rem;
            cursor: pointer;
            text-align: center;
        }
    }
    input:not(input[type="submit"]){
        width: 35%;
    }
    label{
        width: 15%;
        display: inline;
    }
    .razon{
        display: flex;
        textarea{
            position: relative;
            right: -28rem;
            width: 61rem;
            height: 12rem;
            background-color: $blanco;
            color: black;
            border: .2rem solid black;
            border-radius: 0.8rem;
        }
    }
    
    .btnCU{
        margin-top: 2rem;
        display: flex;
        justify-content: right;
        margin-right: 27rem;
        input{
            width: 20%;
            background-color: $verde;
            color: $blanco;
        }
    }

    
}



