.ModificarUsuarios{
    
    margin-top: 2rem;
    .emailS{
        position: relative;
        display: flex;
        justify-content: center;
        top: 3.8rem;
        width: 50%;
        left: 18.8rem;
        label{
            width: 33%;
            display: inline;
        }

    }
    .emailD{
        position: relative;
        width: 45%;
        left: 70.6rem;
        top: -1rem;
        input{
            right: 19rem;
            display: flex;
            width: 35%;
        }
    }

    .btnBus{
        position: relative;
        input{
            position: absolute;
            right: 8rem;
            top: -5rem;
            width: 15%;
            background-color: $verdeVariante;
            color: $blanco;
            border-radius: 0.8rem;
            cursor: pointer;
            text-align: center;
        }
    }

    .email, .nombreUser,.apellidoUser,.telefono, .departamento, .rolUsuario{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    select {
        border-radius: 0.5rem;
        margin: 1.5rem, 0;
        height: 4rem;
        width: 35%;
    }
    input:not(input[type="submit"]){
        width: 35%;
    }
    label{
        width: 15%;
        display: inline;
    }


    .btnMU{
        margin-top: 2rem;
        display: flex;
        justify-content: right;
        margin-right: 27rem;
        input{
            width: 20%;
            background-color: $verde;
            color: $blanco;
        }
    }

    
}



