.RegistroNuevoUsuario{
    margin-top: 2rem;
    .user{
        display: flex;
        text-align: center;
        margin-bottom: 1rem;
        margin-left: 19.6%;
        .emailS{
            display: inline;
            width: 50%;
            label{
                width: 50%;
                margin-right: 34%;
            }
        }
        .emailD{
            margin-left: -1.6%;
            display: inline;
            width: 22.5%;
            input{
                width: 100%;
            }
        }
    }
    
    .btnRU{
        position: relative;
        float: right;
        right: 23%;
        input{
            width: 100%;
            background-color: $verde;
            color: $blanco;
        }
    }

    .nombreUser, .apellidoP, .apellidoS, .tel, .rolUsuario, .departamento {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
   
    input:not(input[type="submit"]), select{
        width: 35%;
    }
    select {
        border-radius: 0.5rem;
        margin: 1.5rem, 0;
        height: 4rem;
    }
    label{
        width: 15%;
        display: inline;
    }
    
    .eye {
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: white;
        position: relative;
        margin-bottom: 2rem;
        
        .password{
            display: flex;
            position: relative;
            justify-content: center;
            height: 4rem;
            width: 100rem;
            gap: 2rem;
        }
        .icon {
            position: absolute;
            width: 2%;
            right: 25%;
            opacity: 0.3;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    
}



