.RestablecerContraseña{
    display: flex;
    margin-top: 2rem;
    .buscarUs{
        display: flex;
        text-align: center;
        margin-bottom: 4rem;
        margin-left: 21%;
        .emailS{
            display: inline;
            width: 50%;
            label{
                width: 50%;
                margin-right: 34%;
            }
        }
        .emailD{
            margin-left: -1.6%;
            display: inline;
            width: 22.5%;
            input{
                width: 100%;
            }
        }
    
        .btnBus{
            float: left;
            margin-left: 2rem;
            input{
                width: 100%;
                background-color: $azulMarino;
                color: $blanco;
                border-radius: 0.8rem;
                cursor: pointer;
                text-align: center;
            }
        }
    }
    .email, .nombreUser, .departamento, .rolUsuario, .edoUsuario, .telefono{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    select {
        border-radius: 0.5rem;
        margin: 1.5rem, 0;
        height: 4rem;
        width: 35%;
    }
    input:not(input[type="submit"]){
        width: 35%;
    }
    label{
        width: 15%;
        display: inline;
    }

    .btnRC{ 
        width: 100%;
        align-items: center;
        align-content: center;
        align-self: auto;
        position: relative;
        
        .button{
            position: absolute;
            
            width: 30%;
            margin-left: 44.5%;
            background-color: $azulVariante;
            color: $blanco;
        }
    }

    
}



