body{
    background-color: $blanco;
}

header{
    justify-content: center;
    align-self: center;
    
    .logos{
        display: flex;
        justify-content: center;

        .logosin{
            margin-bottom: 1rem;
            margin-top: 1rem;
            .sep{
                width: 34.875rem;
                margin-right: 1.5rem;
            }
            .v-line1{
                border: 1px solid #c59762;
                background-color: #c59762;
                height:7.4rem;
                width: .2rem;
                float: left;
                margin-right: 1.5rem;
            }
            .tecnm{
                width: 17.475rem;
                margin-right: 2rem;
            }
            .v-line2{
                border: 1px solid #c59762;
                background-color: #c59762;
                height:7.4rem;
                float: left;
                width: .2rem;
                margin-right: 1rem;
            }
            .itcg{
                width: 5rem;
            } 
        }        
    }
    
    .text_header{
        
        position: relative;
        h1, h2, h3{
            margin: 0;
        }
        h1{
            font-weight: $black;
        }
        h2{
            font-weight: $bold;
        }
    }
}
.header{
    display: flex;
    justify-content: center;
    background-color: $azulMarino;
    .usuario{
        height: 6rem;
        width: 6rem;
        position: fixed;
        color: black;
        right: 2%;
        top: 0%;
        ion-icon{
            color: $azulVariante;
            height: 6rem;
            width: 6rem;
        }
    }
    ul, ol{
        list-style: none;
    }
    .nav > li{
        float: left;
    }
    .nav li a {
        background-color:$azulMarino;
        color:$blanco;
        text-decoration:none;
        padding: 0 1rem;
        display:block;
    }
    
    .nav li a:hover {
        background-color: $azulOscuro;
    }
    
    .nav li ul {
        display:none;
        position:absolute;
        min-width:14rem;
    }
    
    .nav li:hover > ul {
        display:block;
    }
    
    .nav li ul li {
        position:relative;
    }
    
    .nav li ul li ul {
        right:-140px;
        top:0px;
    }
    gap:  3rem;
}