@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/utilidades';
//Layout
@import 'layout/login';
@import 'layout/admin';

//Gestionar Usuarios
@import 'layout/GestionarUsuarios/GestionarUsMenu';
@import 'layout/GestionarUsuarios/RegistrarNuevoUsuario';
@import 'layout/GestionarUsuarios/Consultarusuarios';
@import 'layout/GestionarUsuarios/ModificarUsuarios';
@import 'layout/GestionarUsuarios/CambiarEstado';
@import 'layout/GestionarUsuarios/RestablecerContraseña';

//Procesar Solicitudes
@import 'layout/ProcesarSolicitudes/ProcesarSolicitudesMenu';
@import 'layout/ProcesarSolicitudes/CrearNuevaSolicitud';
@import 'layout/ProcesarSolicitudes/VerEstadoEtapaSolicitud';
@import 'layout/ProcesarSolicitudes/DatosDeSolicitudFormato';
@import 'layout/ProcesarSolicitudes/ServicioSolicitudFormato';
@import 'layout/ProcesarSolicitudes/ModificarSolicitudRechazadaFormato';
@import 'layout/ProcesarSolicitudes/CancelarSolicitudPendienteFormato';
//Estadísticas de Solicitudes
@import 'layout/EstadisticasDeSolicitudes/EstadisticasDS';
@import 'layout/EstadisticasDeSolicitudes/ReportesDeSolicitudes';
@import 'layout/EstadisticasDeSolicitudes/ExportarDatos';
@import 'layout/EstadisticasDeSolicitudes/ImprimirSolicitudFinalizada';
//Gestionar Solicitudes Entrantes
@import 'layout/GestionarSolicitudesEntrantes/GestionarSEMenu';
@import 'layout/GestionarSolicitudesEntrantes/SolicitudesPendientes';
@import 'layout/GestionarSolicitudesEntrantes/SolicitudesPendientesFormato';
@import 'layout/GestionarSolicitudesEntrantes/SolicitudesEnProceso';
@import 'layout/GestionarSolicitudesEntrantes/SolicitudesEnProcesoFormato';
@import 'layout/GestionarSolicitudesEntrantes/SolicitudesFinalizadas';
@import 'layout/GestionarSolicitudesEntrantes/SolicitudesFinalizadasFormato';
@import 'layout/GestionarSolicitudesEntrantes/TableroDeSolicitudes';

//Opciones
@import 'layout/Opciones/nuevoProceso';
@import 'layout/Opciones/respaldoBDD';
@import 'layout/Opciones/VerCuenta';
//Internas
@import 'internas/footer';
@import 'internas/header';
