@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/utilidades';
//Layout
@import 'layout/login';
@import 'layout/admin';

//Gestionar Usuarios
@import 'layout/GestionarUsuarios/GestionarUsMenu';
@import 'layout/GestionarUsuarios/RegistrarNuevoUsuario';

//Internas
@import 'internas/footer';
@import 'internas/header';
