.ExportarDatos{
    margin-top: 4rem;
    .BtnExcel{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 5rem;
        width: 100%;
        .btnChoseG{
            width: 25%;
            padding: 1rem;
            background-color: $verde;
            color: white;
            border-radius: 0.8rem;
            cursor: pointer;
        }
        .btnChoseD{
            width: 25%;
            padding: 1rem;
            background-color: $verde;
            color: white;
            border-radius: 0.8rem;
            cursor: pointer;
        }
    }
    
}
    


